.imageSize{
  width: 30%; 
  height: 30%;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  border-radius: 10%;
  cursor: pointer;
}

#result{
  text-align:center;
  margin:1.5%;
  font-family: Comic Sans MS;
  font-size:110%;
}

#text_results{
  font-size: 235%;
}

img{
    border:solid 2px #000000;
}