.imageSize{
  width: 50%; 
  height: 50%;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  border-radius: 10%;
  cursor:pointer;
}

#result{
  text-align:center;
  margin:1.5%;
  font-family: Comic Sans MS;
  font-size:90%;
}

#text_results{
  font-size: 180%;
}

img{
    border:solid 2px #6F6F6F;
    
}

@media all and (min-width:960px) {
    #result tr td {
        font-size: 30px;
    }
}
 
@media all and (max-width:959px) and (min-width:560px) {
    #result tr td {
        font-size: 25px;
    }
}
 
@media all and (max-width:559px) and (min-width:300px) {
   #result tr td {
        font-size: 19px;
    }
}
@media all and (max-width:319px) {
    #result tr td {
        font-size: 15px;
    }
}