#header {
  background-color: #003366;
  color: white;
  height: 10vh;
}

.ui-content {
  background-image:linear-gradient(#0131B4, #318CE7);
}

#footer {
  background-color: #048B9A;
  color: white;
  height: 5vh;
}

#regle {
  font-family: Comic Sans MS;
  width: 80vw;
  margin: 3vw;
}

#mainImage {
  width: 35vw;
  height: 20vh;
}

#homeMenu {
  margin:0;
}

#apprentissage {
  width: 49%;
  float: left;
  border: 2px solid #333;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

#jeux {
  margin-left: 51%;
  border: 2px solid #333;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

#apprentissage img, #jeux img{
  cursor: pointer;
  display: inline-block;
  margin-left: 5vw;
  width: 14vw;
  height: 14vh;
}

@media all and (min-width:960px) {
    #header {
        font-size: 30px;
    }
    .menuText {
        font-size: 100px;
    }
    .bienvenue, #regle {
      font-size: 27px;
    }
    #score {
      font-size: 50px;
    }
    #jeux, #apprentissage {
      font-size: 20px;
    }
}
 
@media all and (max-width:959px) and (min-width:560px) {
    #header {
      font-size: 23px;
    }
    #footer {
      font-size: 12px;
    }
    .bienvenue, #regle {
      font-size: 20px;
    }
    #score {
      font-size: 35px;
    }
    #jeux, #apprentissage {
      font-size: 15px;
    }
}
 
@media all and (max-width:559px) and (min-width:300px) {
    #header{
        font-size: 17px;
    }
    #footer {
	font-size: 11px;
    }
    .bienvenue {
	font-size: 17px;
    }
    #score {
      font-size: 25px;
    }
    #regle {
      font-size: 12px;
    }
    #jeux, #apprentissage {
      font-size: 9px;
    }
}
@media all and (max-width:319px) {
    #header {
      font-size: 11px;
    }
    #footer {
	    font-size: 7px;
    }
    .bienvenue, #regle {
	     font-size: 12px;
    }
    #score {
      font-size:20px;
    }
    #jeux, #apprentissage {
      font-size: 5px;
    }
}