#header {
  background-color: #003366;
  color: white;
  height: 10vh;
}

.ui-content {
  background-image:gray;
}

#footer {
  background-color: #048B9A;
  color: white;
  height: 5vh;
}

#regle {
  font-family: Comic Sans MS;
  width: 80vw;
  margin: 3vw;
}

@media all and (min-width:960px) {
    #header {
        font-size: 30px;
    }
    .menuText {
        font-size: 100px;
    }
    .bienvenue, #regle {
      font-size: 27px;
    }
    #score {
      font-size: 50px;
    }
    .ui-mobile fieldset {
      font-size: 27px;
    }
    figcaption {
      font-size: 18px;
    }
}
 
@media all and (max-width:959px) and (min-width:560px) {
    #header {
      font-size: 23px;
    }
    #footer {
      font-size: 12px;
    }
    .bienvenue, #regle {
      font-size: 20px;
    }
    #score {
      font-size: 35px;
    }
    .ui-mobile fieldset {
      font-size: 20px;
    }
    figcaption {
      font-size: 13px;
    }
}
 
@media all and (max-width:559px) and (min-width:300px) {
    #header{
        font-size: 17px;
    }
    #footer {
	font-size: 11px;
    }
    .bienvenue {
	font-size: 17px;
    }
    #score {
      font-size: 25px;
    }
    #regle {
      font-size: 12px;
    }
    .ui-mobile fieldset {
      font-size: 15px;
    }
    figcaption {
      font-size: 9px;
    }
}
@media all and (max-width:319px) {
    #header {
      font-size: 11px;
    }
    #footer {
	    font-size: 7px;
    }
    .bienvenue, #regle {
	     font-size: 12px;
    }
    #score {
      font-size:20px;
    }
    .ui-mobile fieldset {
      font-size: 8px;
    }
    figcaption {
      font-size: 5px;
    }
}