#header {
  font-size: 150%;
  background-color: #444444;
  color: white;
}

#footer {
  background-color: #37DC89;
  color: white;
}

[data-role=page] {
  height: 100% !important; position:relative !important;
}

#regle {
  margin:1.5%;
  font-family: Comic Sans MS;
  font-size:110%;
}

.homepageImage {
  width: 15%;
  height: 15%;
}