#lettreMaj {
  font-size: 300%;
  text-align: center;
}

.button {
  width: 11vw;
  height: 10vh;
  float: left;
  margin-left: 0.1vw;
  margin-right: 0.1vw;
  min-width: 10px;
  overflow: hidden;
}

#audioPlayer {
  margin: 5%;
}

.result-majuscule{
  font-size: 25px;
}