#keyboardContainer {
  width: 80vw;
  padding: 1vh 1vw;
  margin: 1vh 1vw;
  display: inline-block;
  border: 2px solid #333;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
  box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
}

#keyboardContainer div{
  float: left;
  margin: 0.5vh 0.5vw;
  border: 2px solid #333;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #fff;
  min-width: 8vw;
  min-height: 3vh;
  cursor: pointer;
  background: #666;
  color: #fff;
  text-shadow: 0 0 3px #000;
}

div img {
  cursor: pointer;
  width: 15vw;
  height: 15vh;
}

@media all and (min-width:960px) {
  #keyboardContainer div {
    font-size: 50px;
  }
  #lettreCurs, #result-cursive {
    width: 100px;
    height: 100px;
  }
  #lettreMaj, #result-majuscule {
    font-size: 50px;
  }
}
 
@media all and (max-width:959px) and (min-width:560px) {
  #keyboardContainer div, #result-majuscule {
    font-size: 35px;
  }
  #lettreCurs, #result-cursive {
    width: 800px;
    height: 80px;
  }
  #lettreMaj, #result-majuscule {
    font-size: 35px;
  }
}
 
@media all and (max-width:559px) and (min-width:320px) {
  #keyboardContainer div, #result-majuscule {
    font-size: 22px;
  }
  #lettreCurs, #result-cursive {
    width: 60px;
    height: 60px;
  }
  #lettreMaj, #result-majuscule {
    font-size: 22px;
  }
}
@media all and (max-width:319px) {
  #keyboardContainer div, #result-majuscule {
    font-size: 15px;
  }
  #lettreCurs, #result-cursive {
    width: 40px;
    height: 40px;
  }
  #lettreMaj, #result-majuscule {
    font-size: 15px;
  }
  td {
    font-size: 11px;
  }
}
